<div class="form-actions">
<p id="notice"><%= notice %></p>

<div class="form-inline">
  <b>Content:</b> <%= @micropost.content %><br>
  <b>Sent at:</b> <%= @micropost.created_at.strftime('%a %b %e %R %Y') %><br>

  <%= link_to 'Back', microposts_path, class: "btn-link" %>
</div>
</div>
